<% if current_user.admin? %>
  <%= link_to 'ボール登録', new_ball_path, class: 'btn btn-primary mt-2 mb-3' %>
<% end %>

<div class="row">
  <% balls.each do |ball| %>
    <div class="col-12 col-sm-6 col-md-4 mb-3">
      <div class="card-deck">
        <div class="card">
          <%= image_tag ball.image.url, alt: "ball_image", class: "bd-placeholder-img card-img-top w-75 d-block mx-auto mt-3" %>
          <div class="card-body">
            <h5 class="card-title">ボール名：<%= link_to ball.name, ball_path(ball) %></h5>
            <p class="card-text">メーカー名：<%= ball.brand %></p>
            <%= render 'ball_favorites/favball_button', ball: ball %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>