<div class="row">
  <% tweets.each do |tweet| %>
    <div class="col-md-4 text-center">
      <% if tweet.user.image? %>
        <%= image_tag tweet.user.image.url, class: "card-img-top" %>
      <% else %>
        <img class="card-img-top" src="<%= gravatar_url(tweet.user) %>" alt="">
      <% end %>
      <h4 class="media-heading mt-3"><%= link_to tweet.user.name, user_path(tweet.user) %></h4>
    </div>
    
    <div class="card col-sm-8 text-center">
      <div class="card-body">
        <h5 class="card-title"><%= link_to tweet.title, tweet %></h5>
        <p class="card-text"><%= tweet.content %></p>
        <img class="card-img-bottom" src="<%= tweet.image.url if tweet.image? %>" alt="">
        <p class="card-text"><small class="text-muted">posted at <%= tweet.created_at.to_s(:datetime_jp) %></small></p>
      </div>
    </div>
    
    <hr class="mt-3" width="100%">
  <% end %>
  <%= paginate tweets %>
</div>