<h1><%= @tweet.title %></h1>

<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title"><%= link_to @tweet.title, @tweet %></h5>
    <p class="card-text"><%= simple_format(@tweet.content) %></p>
    <%= image_tag @tweet.image.url, class: "card-img-bottom w-50", alt: "tweet_image" if @tweet.image? %>
    <p class="card-text"><small class="text-muted">posted at <%= @tweet.created_at.to_s(:datetime_jp) %></small></p>
    <%= render 'tweet_favorites/favtweet_button', tweet: @tweet %>
  </div>
</div>
<% if @tweet.user_id == current_user.id %>
  <%= link_to '編集する', edit_tweet_path(@tweet), class: "btn btn-primary" %>
  <%= link_to '削除する', @tweet, method: :delete, data: {confirm: '本当に削除してよろしいですか？'}, class: "btn btn-danger" %>
<% end %>
<%= link_to 'トップに戻る', "/", class: "btn btn-info" %>