<% if users.any?%>
  <div class="row">
    <% users.each do |user| %>
      <div class="col-md-4 col-sm-6 col-xs-12 card p-2 m-1">
        <% if user.image? %>
          <%= image_tag user.image.url, class: "card-img-top" %>
        <% else %>
          <img class="card-img-top" src="<%= gravatar_url(user) %>" alt="">
        <% end %>
        <h2><%= link_to user.name, user_path(user) %></h2>
        <p><%= user.introduce %></p>
        <%= render 'relationships/follow_button', user: user %>
      </div>
    <% end %>
  </div>
<% end %>