<div class="row">
  <aside class="col-sm-4">
    <div class="card">
      <% if @user.image? %>
        <%= image_tag @user.image.url, class: "card-img-top" %>
      <% else %>
        <img class="card-img-top" src="<%= gravatar_url(@user) %>" alt="">
      <% end %>
    </div>  
      <div class="card mb-3">
        <div class="card-header"><%= @user.name %></div>
        <div class="card-body text-secondary">
          <p class="card-text"><%= @user.introduce %></p>
        </div>
      </div>
  </aside>
  <div class="col-sm-8">
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="<%= user_path(@user) %>" class="nav-link  <%= 'active' if current_page?(user_path(@user)) %>">投稿一覧  <span class="badge badge-secondary"><%= @count_tweets %></span></a></li>
      <li class="nav-item"><a href="<%= followings_user_path(@user) %>" class="nav-link  <%= 'active' if current_page?(followings_user_path(@user)) %>">フォロー <span class="badge badge-secondary"><%= @count_followings %></span></a></li>
      <li class="nav-item"><a href="<%= followers_user_path(@user) %>" class="nav-link  <%= 'active' if current_page?(followers_user_path(@user)) %>">フォロワー  <span class="badge badge-secondary"><%= @count_followers %></span></a></li>
      <li class="nav-item"><a href="<%= favtweets_user_path(@user) %>" class="nav-link  <%= 'active' if current_page?(favtweets_user_path(@user)) %>">いいね投稿  <span class="badge badge-secondary"><%= @count_favtweets %></span></a></li>
      <li class="nav-item"><a href="<%= favballs_user_path(@user) %>" class="nav-link  <%= 'active' if current_page?(favballs_user_path(@user)) %>">お気に入りボール  <span class="badge badge-secondary"><%= @count_favballs %></span></a></li>
    </ul>
    <%= render 'tweets/tweets', tweets: @favtweets %>
  </div>
</div>