<div class="row">
  <aside class="col-sm-4">
    <div class="card">
      <% if @user.image? %>
        <%= image_tag @user.image.url, class: "card-img-top" %>
      <% else %>
        <img class="card-img-top" src="<%= gravatar_url(@user) %>" alt="">
      <% end %>
    </div>  
      <div class="card mb-3">
        <div class="card-header"><%= @user.name %></div>
        <div class="card-body text-secondary">
          <h5 class="card-title"><%= @user.dominant_arm %></h5>
          <p class="card-text"><%= @user.introduce %></p>
        </div>
      </div>
  </aside>
  <div class="col-sm-8">
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="#" class="nav-link  <%= 'active' if current_page?(user_path(@user)) %>">投稿一覧</a></li>
      <li class="nav-item"><a href="#" class="nav-link">フォロー</a></li>
      <li class="nav-item"><a href="#" class="nav-link">フォロワー</a></li>
      <li class="nav-item"><a href="#" class="nav-link">お気に入り投稿</a></li>
      <li class="nav-item"><a href="#" class="nav-link">お気に入りボール</a></li>
    </ul>
  </div>
</div>