<% if logged_in? %>
  <%= render 'tweets/tweets', tweets: @tweets %>
<% else %>
  <main class="container">
    <section class="jumbotron mb-5 top-picture">
      <h1 class="display-3">BowlersApp.</h1>
      <p class="lead top-p">ボウリングをもっと楽しもう！</p>
      <p>
        <%= link_to '新規登録', signup_path, class: 'btn btn-primary my-2' %>
        <%= link_to 'ログイン', login_path, class: 'btn btn-primary my-2' %>
      </p>
    </section>
    
    <div class="row featurette">
      <div class="col-md-6 text-right">
        <h2 class="featurette-heading">発信しよう</h2>
        <p class="lead">Bowlers App はボウラーのための情報共有アプリです！<br>今日のスコア、気になるボールなど<br>色々なことを投稿しよう！<br>登録も簡単、無料で使えます！</p>
      </div>
      <div class="col-sm-6">
        <img class="featurette-image img-fluid mx-auto" data-src="#" alt="500x500" style="width: 300px; height: 300px;" src="/assets/illust02.jpg" data-holder-rendered="true">
      </div>
    </div>
    
    <hr class="featurette-divider">
    
    <div class="row featurette">
      <div class="col-md-6 text-left order-md-2">
        <h2 class="featurette-heading">繋がろう</h2>
        <p class="lead">フォロー機能を使ってボウラーと繋がろう！<br>ボウリングは老若男女誰でも楽しめるスポーツです。<br>色んな人とこのアプリを通じて繋がろう！</p>
      </div>
      <div class="col-sm-6 order-md-1 text-right">
        <img class="featurette-image img-fluid mx-auto" data-src="#" alt="500x500" style="width: 300px; height: 300px;" src="assets/illust01.jpg" data-holder-rendered="true">
      </div>
    </div>
    
    <hr class="featurette-divider">
    
    <div class="row featurette">
      <div class="col-md-6 text-right">
        <h2 class="featurette-heading">ボールを知ろう</h2>
        <p class="lead">毎月たくさんのボールが発売されます。<br>このアプリを通じて人気ボールや、新しいボールの情報を手に入れよう！</p>
      </div>
      <div class="col-sm-6">
        <img class="featurette-image img-fluid mx-auto" data-src="#" alt="500x500" style="width: 300px; height: 300px;" src="assets/illust03.jpg" data-holder-rendered="true">
      </div>
    </div>
    
     <hr class="featurette-divider">
     
     <div class="jumbotron text-center">
      <h4>いますぐはじめよう！</h4>
      <p>
        <%= link_to '新規登録', signup_path, class: 'btn btn-primary my-2' %>
        <%= link_to 'ログイン', login_path, class: 'btn btn-primary my-2' %>
      </p>
    </div>
     
  </main>
<% end %>